
.body{
    background-image: url(../secondary-pages/images/fond-nuages.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.header{
    background-color: rgba(0, 0, 0, 0.4);
}
.header__list li{
    list-style: none;
    padding: 20px;
}
.header__list li a{
    text-decoration:none;
    color: black;
    font-size: 2em;
    font-weight: 800;
}
.section{
    padding: 50px;
}
.section__title{
    text-align: center;
    font-size: 5em;
}
.section__title__bis{
    text-align: center;
    font-size: 2em;
}
.section p{
    text-align: center;
}
.pictures{
    padding: 50px;
}
.pictures__pince{
    max-width: 90%;
    border-radius: 25px;
}
.pictures__archer{
    max-width: 90%;
    border-radius: 25px;
}
.footer{
    background-color: rgba(0, 0, 0, 0.4);
}
.footer__title{
    text-align: center;
    padding: 30px;
    color: black;
}
.footer__credits{
    color: rgb(255, 255, 255);
}
.footer__credits__bis{
    display: flex;
    justify-content: end;
    color: rgb(255, 255, 255);
}
