
.body{
    background-image: url(../images/fond-eau-de-mer.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.header{
    background-color: rgba(0, 0, 0, 0.4);
}
.header__list li{
    list-style: none;
    padding: 20px;
}
.header__list li a{
    text-decoration:none;
    color: black;
    font-size: 2em;
    font-weight: 800;
}
.about{
    padding: 70px;
}
.about__title{
    text-align: center;
    font-size: 3em;
    padding-top: 30px;
}
.about__pitch{
    font-size: 1.5em;
    font-weight: 500;
    padding-top: 30px;
}
.about__btn{
    margin-left: 50px;
}
.about__picture{
    max-width: 100%;
    margin-top: 20px;
}
.competences{
    padding: 50px;
}
.competences__section{
    background-color: rgb(240, 230, 216, 0.5);
    border-radius: 30px;
    width: 800px;
}
.competences__title{
    text-align: center;
    font-size: 2.5em;
}
.competences li{
    font-size: 1.5em;
}
.my-work{
    padding: 50px;
}
.my-work__title{
    text-align: center;
    padding: 20px;
    font-size: 2.5em;
}
.my-work__cards{
    display: flex;
    justify-content: center;
    padding: 40px;
}
.footer{
    background-color: rgba(0, 0, 0, 0.4);
}
.footer__title{
    text-align: center;
    padding: 30px;
    color: black;
}
.footer__credits{
    color: rgb(255, 255, 255);
}
.footer__credits__bis{
    display: flex;
    justify-content: end;
    color: rgb(255, 255, 255);
}
