.body{
    background-image: url(../secondary-pages/images/fond-marbre.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.header{
    background-color: rgba(0, 0, 0, 0.4);
}
.header__list li{
    list-style: none;
    padding: 20px;
}
.header__list li a{
    text-decoration:none;
    color: black;
    font-size: 2em;
    font-weight: 800;
}
.mainsection{
    padding: 70px;
}
.mainsection__message{
    height: 100px;
}
.footer{
    background-color: rgba(0, 0, 0, 0.4);
}
.footer__title{
    text-align: center;
    padding: 30px;
    color: black;
}
.footer__credits{
    color: rgb(255, 255, 255);
}
.footer__credits__bis{
    color: rgb(255, 255, 255);
}
